@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

// import
@import "./variable";
@import "./mixins";

// code
* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: capitalize;
	transition: 0.2s linear;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
	&::-webkit-scrollbar {
		width: 1rem;
	}
	&::-webkit-scrollbar-track {
		background: $white;
	}
	&::-webkit-scrollbar-thumb {
		background: $black;
	}
}
section {
	padding: 5rem 9%;
}
.btn {
	margin-top: 1rem;
	color: $black;
	background: none;
	font-size: 1.7rem;
	padding: 1rem 3rem;
	cursor: pointer;
	border: $border;
	display: inline-block;
	&:hover {
		background: $black;
		color: $white;
	}
}
.heading {
	text-align: center;
	margin-bottom: 2.5rem;
	font-size: 4rem;
	color: $black;
}
.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	padding: 2rem 9%;
	&.active {
		background-color: $white;
		box-shadow: $box-shadow;
	}
	.logo {
		margin-right: auto;
		font-size: 2.5rem;
		color: $black;
		i {
			color: $green;
		}
	}
	.navbar {
		a {
			margin-left: 2rem;
			font-size: 1.7rem;
			color: $black;
			&:hover {
				color: $green;
			}
		}
		#nav-close {
			font-size: 5rem;
			cursor: pointer;
			color: $black;
			display: none;
		}
	}
	.icons a,
	.icons div {
		font-size: 2.5rem;
		margin-left: 2rem;
		cursor: pointer;
		color: $black;
		&:hover {
			color: $green;
		}
	}
	#menu-btn {
		display: none;
	}
}
.search-form {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 102;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-110%);

	&.active {
		transform: translateX(0%);
	}

	#close-search {
		position: absolute;
		top: 2rem;
		font-size: 6rem;
		color: white;
		right: 2.5rem;
		cursor: pointer;
		&:hover {
			color: $green;
		}
	}
	form {
		width: 70rem;
		margin: 0 2rem;
		padding-bottom: 2rem;
		border-bottom: 0.2rem solid $white;
		display: flex;
		align-items: center;
		input {
			width: 100%;
			font-size: 1.7rem;
			color: $white;
			text-transform: none;
			background: none;
			padding-right: 2rem;
			&::placeholder {
				color: #aaa;
			}
		}
		label {
			font-size: 3rem;
			cursor: pointer;
			color: $white;
			&:hover {
				color: $green;
			}
		}
	}
}
.home {
	padding: 0;
	.box {
		min-height: 100vh;
		display: flex;
		align-items: center;
		background-size: cover !important;
		background-position: center !important;
		justify-content: flex-end;
		padding: 2rem 9%;
		.content {
			width: 50rem;
			span {
				font-size: 4rem;
				color: $black;
			}
			h3 {
				font-size: 6rem;
				color: $green;
				padding-top: 5rem;
				text-transform: uppercase;
			}
			p {
				line-height: 2;
				color: $black;
				font-size: 1.5rem;
				padding: 1rem 0;
			}
		}
	}
	.second {
		justify-content: flex-start;
	}
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 3rem;
	color: $black;
}

.category {
	.box-container {
		@include grid(29rem);
		.box {
			text-align: center;
			padding: 2rem;
			img {
				height: 30rem;
				width: 30rem;
				border-radius: 50%;
				margin-bottom: 1rem;
			}
			h3 {
				font-size: 2rem;
				color: $green;
			}
			p {
				font-size: 1.5rem;
				color: $black;
				padding: 1rem 0;
				line-height: 2;
			}
		}
	}
}

.about {
	background: $light-bg;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	.image {
		flex: 1 1 42rem;
		padding: 0 5rem 5rem 0;
		img {
			width: 100%;
			box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
		}
	}
	.content {
		flex: 1;
		h3 {
			font-size: 3rem;
			color: $green;
		}
		p {
			font-size: 1.5rem;
			color: $black;
			padding: 1rem 0;
			line-height: 2;
		}
	}
}

.shop {
	.slide {
		width: 35rem;
		border: $border;

		&:hover .image .icons {
			transform: translateY(0);
		}

		.image {
			position: relative;
			overflow: hidden;
			height: 30rem;
			width: 100%;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			.icons {
				width: 100%;
				position: absolute;
				bottom: 2rem;
				text-align: center;
				left: 0;
				z-index: 105;
				transform: translateY(7rem);
				transition: all 0.4s ease-in-out;
				a {
					height: 4.5rem;
					width: 4.5rem;
					line-height: 4.5rem;
					font-size: 1.7rem;
					background-color: $black;
					color: $white;
					margin: 0 0.2rem;

					&:hover {
						background: $green;
					}
				}
			}
		}
		.content {
			text-align: center;
			h3 {
				font-size: 2rem;
				color: $black;
			}
			.price {
				padding: 1rem 0;
				padding-top: 0.5rem;
				font-size: 2.5rem;
				color: $green;
			}
			.stars {
				font-size: 1.7rem;
				color: $black;
			}
		}
	}
}

.packages {
	background: $light-bg;
	.box-container {
		@include grid(32rem);
		.box {
			text-align: center;
			background: $white;
			border: $border;
			box-shadow: $box-shadow;
			&:hover {
				background: $black;
				.content > * {
					color: $white;
				}
				.btn {
					border-color: $white;
					&:hover {
						background: $white;
						color: $black;
					}
				}
			}
			.image {
				height: 25rem;
				overflow: hidden;
				padding: 2rem;
				padding-bottom: 0;
				border-radius: 0.5rem;
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.content {
				padding: 2rem;
				h3 {
					font-size: 2rem;
					color: $black;
				}
				p {
					font-size: 1.5rem;
					color: $black;
					line-height: 2;
				}
				.price {
					color: $green;
				}
			}
		}
	}
}

.services {
	background: $light-bg;
	.box-container {
		@include grid(31rem);
		.box {
			text-align: center;
			padding: 2rem;
			border-radius: 0.5rem;
			background: $white;
			&:hover {
				background: $black;
				img {
					filter: invert(1);
				}
				p {
					color: $white;
				}
				.btn {
					border-color: $white;
					color: $white;
					&:hover {
						background: $white;
						color: $black;
					}
				}
			}
			img {
				height: 10rem;
				margin-bottom: 1rem;
			}
			h3 {
				font-size: 2rem;
				color: $green;
			}
		}
	}
}

.reviews {
	.slide {
		.text {
			padding: 2rem;
			font-size: 1.5rem;
			background: $light-bg;
			border-radius: 0.5rem;
			color: $black;
			line-height: 2;
			position: relative;
			z-index: 0;
			margin-bottom: 3rem;
			&::before {
				content: "";
				position: absolute;
				bottom: -1.5rem;
				left: 0.7rem;
				height: 3rem;
				width: 3rem;
				background: $light-bg;
				transform: rotate(45deg);
			}
		}
		.user {
			display: flex;
			align-items: center;
			gap: 1rem;
			img {
				height: 7rem;
				width: 7rem;
				border-radius: 50%;
			}
			h3 {
				font-size: 2rem;
				color: $black;
			}
			span {
				color: $green;
				font-size: 1.5rem;
			}
		}
	}
}

.footer {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../images/footer-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	.box-container {
		@include grid(25rem);
		.box {
			h3 {
				font-size: 2rem;
				padding: 1.5rem 0;
				color: $white;
			}
			a {
				display: flex;
				font-size: 1.4rem;
				color: $white;
				padding: 1rem 0;
				&:hover {
					color: $green;
					i {
						padding-right: 2rem;
					}
				}
			}
			i {
				color: $green;
				padding-right: 0.5rem;
			}
		}
	}
	.credit {
		text-align: center;
		margin-top: 2.5rem;
		padding: 1rem;
		padding-top: 2.5rem;
		font-size: 2rem;
		color: $white;
		span {
			color: $green;
		}
	}
}

// responesive
@media (max-width: 1200px) {
	.header {
		padding: 2rem;
	}
	section {
		padding: 3rem 2rem;
	}
}
@media (max-width: 991px) {
	html {
		font-size: 55%;
		scroll-padding-top: 7rem;
	}
	.home .box {
		padding: 2rem;
		justify-content: center;
		background-position: right !important;
		&.second {
			justify-content: center;
			background-position: left !important;
		}
		.content {
			text-align: center;
			span {
				font-size: 3rem;
			}
			h3 {
				font-size: 4rem;
			}
		}
	}
}
@media (max-width: 768px) {
	.header {
		#menu-btn {
			display: inline-block;
		}
		.navbar {
			position: fixed;
			top: 0;
			left: -110%;
			z-index: 101;
			background-color: $white;
			width: 35rem;
			height: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			&.active {
				left: 0;
				box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
			}
			a {
				font-size: 3rem;
				margin: 1rem 0;
			}
			#nav-close {
				display: block;
				position: absolute;
				top: 1rem;
				right: 2rem;
			}
		}
	}
	.swiper-button-next::after,
	.swiper-button-prev::after {
		display: none;
	}
}
@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
	.heading {
		font-size: 3rem;
	}
}
